node_modules/
vendor/
public/build/
.env
.env.*
.git/
.phpunit.cache/
tests/
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
